*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    width: 100%;
    background-color: white(170, 169, 169);
}

.footer-container{
    display: flex;
}

main{
    height: calc(100vh - 100px);
    background-color: hsla(0, 0%, 23%, 0.74);
    display: flex;
}

#sidebar{
    width: 50px;
    background-color: black;
}
.images-sidebar{
    width: 100%;
}

.spotify-logo{
    width: 100%;
    border: 1px solid green;
}
.spotify-logogrande{
    display: none;
}
#content{
    width: calc(100% - 50px);
    overflow-y: auto;
}
header{
    height: 100px;
    background-color: rgb(37, 36, 36);
    display: flex;
    justify-content: flex-end;
}
.btn-upgrade{
    border: 1px solid white;
    width: 200px;
    color: white;
    margin: 25px 5px;
    padding: 15px 32px;
    border-radius: 40%;
    font-size: 12px;
}

.profile-logo{
   display: flex;
   flex-direction: column;
}

.download-img{
width: 80%;
margin-top: 610px;
padding: 5px;
}

.profile-img{
    width: 80%;
}
.left-footer{
border: 1px solid rgb(20, 20, 20);
width: 33%;
height: 100px;
padding: 30px 0px;
display: flex;
}
.sinister-container {
    border: 1px solid green;
    width: 40%;
    height: 40px;
}
.sinisterimage img{
width: 100%;
height: 40px;
}
.sinistertitle{
    border: 1px solid black;
    margin-right: 20px;
    padding: 0 0px;
}
.loghisinister{
    border: 1px solid black;
    width: 100%;
}
.center-footer{
    border: 1px solid black;
    background-color: rgb(200, 255, 0);
    width: 33%;
}

.home-bar{
    width: 100%;
    color: white;
    display: flex;
}
.home{
    display: none;
}
.search-bar{
    width: 100%;
    color: white;
    display: flex;
}
.search{
    display: none;
}
.libreria-bar{
    width: 100%;
    color: white;
    display: flex;
}
.libreria{
    display: none;
}
.logo-in-basso{
    width: 100%;
    color: white;
    display: flex;
}
.secondo-logo-in-basso{
    width: 100%;
    color: white;
    display: flex;
}
.installa{
    display: none;
}
.doe{
    display: none;
}
.right-footer{
    border: 1 px solid black;   
    background-color: purple;
    width: 33%;
}
.big-container{
    border: 1px solid red;
    width: 100%;
}
.spotify-menu{
    border: 1px solid blue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.evidenza{
    border: 1px solid black;
    width: 22%;
}
.podcast{
    border: 1px solid black;
    width: 22%;
}
.classifiche{
    border: 1px solid black;
    width: 22%;
}
.generi-mood{
    border: 1px solid black;
    width: 22%;
}
.nuoveuscite{
    border: 1px solid black;
    width: 20%;
    margin-left: 20%;
    margin-top: 15px;
}
.scopri{
    border: 1px solid black;
    width: 30%;
    margin-top: 15px;
}
h2{
    margin-top: 25px;
    margin-bottom: 15px;
    color: whitesmoke;
}
h3{
    color: whitesmoke;
    display: none;
}
.spotify-playlist{
    border: 1px solid green;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
ul{
    display: none;
}
.metal{
    border: 1px solid black;
    width: 48%;
}
.metal img{
    width: 100%;
}
.stranger-things{
    border: 1px solid black;
    width: 48%;
}
.stranger-things img{
    width: 100%;
}
.quiet-place{
    border: 1px solid black;
    width: 48%;
}
.quiet-place img{
width: 100%;
}

.split{
    border: 1px solid black;
    width: 48%;
}
.split img{
    width: 100%;
}
.wellness{
    border: 1px solid black;
    width: 48%;
}
.wellness img{
    width: 100%;
}
.sinisterplaylist{
    border: 1px solid black;
    width: 48%;
}
.sinisterplaylist img{
    width: 100%;
}

.title-tracks{
    color: whitesmoke;
}
.john-container{
    border: 1px solid green;
    width: 100%;
    display: flex;
    gap: 3%;
}
.radar{
    border: 1px solid black;
    width: 25%;
}
.radar img{
    width: 100%;
}
.daily-mix{
    border: 1px solid black;
    width: 25%;
}
.daily-mix img{
    width: 100%;
}

@media screen and (min-width: 683px) {
    #sidebar{
        width: 200px;
        height: 100%;
        background-color: black;
    }
    #content{
        width: calc(100% - 100px);
        overflow-y: auto;
    }
    .images-sidebar{
        width: 100%;
    }
    .spotify-logo{
        display: none; 
    }
    .spotify-logogrande{
        display: block;
        width: 70%;
    }
    .home-bar{
        width: 30%;
        color: white;
        vertical-align: baseline;
    }
    .home {
        display: block;
    }
    .search-bar{
        width: 30%;
        color: white;
        display: flex;
    }
    .search{
        display: block;
    }
    .libreria-bar{
        width: 30%;
        color: white;
        display: flex;
    }
    .libreria{
        display: block;
    }
    .download-img{
        width: 30%
    }
    .profile-img{
        width: 30%;
    }
    .logo-in-basso{
        width: 100%;
        color: white;
        display: flex;
    }
    .installa{
        color: white;
        display: block;
        margin-top: 250px;
        padding-left: 10px;
    }
    .doe{
        display: block;
        color: white;
        margin-top: 50px;
        padding-left: 10px;
    }
    h3{
        display: block;
        margin: 30px;
    }
    ul{
        display: block;
        color: grey;
    }
    li{
        line-height: 2;
    }
     
     .download-img{
     width: 30%;
     margin-top: 230px;
     padding: 5px;
     }
     
     .profile-img{
         width: 30%;
     }
     .evidenza, .podcast, .classifiche,.nuoveuscite, .scopri, .generi-mood{
        width: calc(100% / 3);
        margin: 10px 0px;
        padding: 5px 5px;
     }
     .metal{
        border: 1px solid black;
        width: 35%;
    }
    .metal img{
        width: 100%;
    }
    .stranger-things{
        border: 1px solid black;
        width: 35%;
    }
    .stranger-things img{
        width: 100%;
    }
    .quiet-place{
        border: 1px solid black;
        width: 35%;
    }
    .quiet-place img{
    width: 100%;
    }
    
    .split{
        border: 1px solid black;
        width: 35%;
    }
    .wellness{
        border: 1px solid black;
        width: 35%;
    }
    .wellness img{
        width: 100%;
    }
    .sinisterplaylist{
        border: 1px solid black;
        width: 35%;
    }
    h2{
        margin: 10px;
    }
}
@media screen and (min-width: 1000px) {
    .evidenza, .podcast, .classifiche,.nuoveuscite, .scopri, .generi-mood{
        width: calc(100% / 5);
    }
    .metal, .stranger-things, .quiet-place, .split, .wellness, .sinisterplaylist{
        width: calc(100% / 4);
    }
    .spotify-playlist{
        border: 1px solid green;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
}

@media screen and (min-width: 1300px) {
    .spotify-menu{
        border: 1px solid blue;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .evidenza, .podcast, .classifiche,.nuoveuscite, .scopri, .generi-mood{
        width: calc(60% / 6);
    }
}