*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Mono";
}
footer{
    width: 100%;
}

.footer-container{
    display: flex;
}

main{
    height: calc(100vh - 100px);
    background-color: #36454F;
    display: flex;
}

#sidebar{
    width: 50px;
    background-color: black;
}
.images-sidebar{
    width: 100%;
}

.spotify-logo{
    width: 100%;
}
.spotify-logogrande{
    display: none;
}
#content{
    width: calc(100% - 50px);
    overflow-y: auto;
}
header{
    height: 100px;
    background-color: rgb(22, 21, 21);
    display: flex;
    justify-content: flex-end; 
}
.btn-upgrade{
    border: 1px solid white;
    width: 200px;
    color: white;
    margin: 25px 5px;
    padding: 15px 32px;
    border-radius: 40%;
    font-size: 12px;
    background-color: transparent; 
    transition: all 0.3s ease;
}
.btn-upgrade:hover {
    color: white;
    transform: scale(1.1); 
}

.profile-logo{
   display: flex;
   flex-direction: column;
}

.download-img{
width: 80%;
margin-top: 610px;
padding: 5px;
}

.profile-img{
    width: 80%;
}
.left-footer{
background-color: rgb(82, 81, 81);
width: 33%;
padding: 30px 0px;
display: flex;
justify-content: space-around;
}
.sinister-container {
    width: 40%;
}
.sinisterimage img{
width: 100%;
height: 40px;
}
.scritte-container{
    width: 100%;
}
.sinistertitle:hover{
    margin-right: 20px;
    padding: 0 0px;
    color: white; 
    transform: scale(1.05); 
}
.loghi-container{
    width: 100%;
}
.loghisinister:hover{
    width: 100%;
    padding-right: 50px;
    color: white; 
        transform: scale(1.05); 
}
.center-footer{
    background-color: rgb(82, 81, 81);
    width: 33%;
    display: flex;
    flex-wrap: wrap;
}
.shuffle-logo{
    width: 20%;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
.backward-logo{
    width: 20%;
    margin-top: 10px;
    padding-top: 10px;
}
.play-logo{
    width: 20%;
    margin-top: 10px;
    padding-top: 10px;
}
.forward-logo{
    width: 20%;
    margin-top: 10px;
    padding-top: 10px;
}
.repeat-logo{
    width: 20%;
    margin-top: 10px;
    padding-top: 10px;
}
.song-bar{
    width: 55%;
}
.other-bar{
    width: 45%;
}
.last-song-bar{
    width: 100%;
    padding: 5px 5px;
    height: 1px;
    border-radius: 10%;
    margin-left: 0px;
    margin-top: 5px;
    background-color: rgb(173, 167, 167);
}
.mini-ending-bar{
    background-color: whitesmoke;
    border-radius: 10%;
    height: 1px;
    width: 25%;
    padding: 5px 5px;
    margin-left: -5px;
    margin-top: -5px;
}
.mini-ending-bar:hover{
    background-color: #a9db34;
    color: white;
    transform: scale(1.1); 
}
.long-bar{
    width: 95%;
    padding: 5px 5px;
    height: 1px;
    border-radius: 10%;
    margin-left: 5px;
    margin-top: 23px;
    background-color: rgb(173, 167, 167);
}
.little-bar{
    width: 20%;
    padding: 5px 5px;
    height: 1px;
    border-radius: 10%;
    margin-left: -5px;
    margin-top: -5px;
    background-color: whitesmoke;
}
.little-bar:hover{
    background-color: #a9db34;
    color: white;
    transform: scale(1.1); 
}
.starting-number{
    width: 15%;
    margin-top: 15px;
}
.finishing-number{
    width: 20%;
    margin-top: 15px;
}
.home-bar{
    width: 100%;
    color: white;
    display: flex;
}
.home{
    display: none;
}
.search-bar{
    width: 100%;
    color: white;
    display: flex;
}
.search{
    display: none;
}
.libreria-bar{
    width: 100%;
    color: white;
    display: flex;
}
.libreria{
    display: none;
}
.logo-in-basso{
    width: 100%;
    color: white;
    display: flex;
}
.secondo-logo-in-basso{
    width: 100%;
    color: white;
    display: flex;
}
.installa{
    display: none;
}
.doe{
    display: none;
}
.right-footer{ 
    background-color: rgb(82, 81, 81);
    width: 34%;
    display: flex;
    align-items: center;
}
.list-logo{
    width: 20%;
}
.display-logo{
    width: 20%;
}
.volume-logo{
    width: 10%;
}
.big-container{
    width: 100%;
}
.spotify-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.evidenza:hover, .podcast:hover, .classifiche:hover, .generi-mood:hover, .nuoveuscite:hover, .scopri:hover{
    color: white; 
    transform: scale(1.05); 
}
.evidenza{
    width: 22%;
}
.podcast{
    width: 22%;
}
.classifiche{
    width: 22%;
}
.generi-mood{
    width: 22%;
}
.nuoveuscite{
    width: 20%;
    margin-left: 20%;
    margin-top: 15px;
}
.scopri{
    width: 30%;
    margin-top: 15px;
}
h2{
    margin-top: 25px;
    margin-bottom: 15px;
    color: whitesmoke;
}
h3{
    color: whitesmoke;
    display: none;
}
.spotify-playlist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.spotify-playlist .metal {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.spotify-playlist .metal img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.spotify-playlist .metal .play-icon {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -100%); 
    font-size: 40px;
    color: white; 
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.spotify-playlist .metal:hover img {
    transform: scale(1.1); 
    filter: brightness(1.2); 
}

.spotify-playlist .metal:hover .play-icon {
    opacity: 1; 
}

ul{
    display: none;
}
.spotify-playlist .stranger-things{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.spotify-playlist .stranger-things img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.spotify-playlist .stranger-things .play-icon{
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -100%); 
    font-size: 40px;
    color: white; 
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.spotify-playlist .stranger-things:hover img{
    transform: scale(1.1); 
    filter: brightness(1.2);
}
.spotify-playlist .stranger-things:hover .play-icon{
    opacity: 1;
}
.metal{
    width: 48%;
}
.metal img{
    width: 100%;
}
.stranger-things{
    width: 48%;
}
.stranger-things img{
    width: 100%;
}
.quiet-place{
    width: 48%;
}
.quiet-place img{
width: 100%;
}
.spotify-playlist .quiet-place{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.spotify-playlist .quiet-place img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.spotify-playlist .quiet-place .play-icon{
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -100%); 
    font-size: 40px;
    color: white; 
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.spotify-playlist .quiet-place:hover img{
    transform: scale(1.1); 
    filter: brightness(1.2);
}
.spotify-playlist .quiet-place:hover .play-icon{
    opacity: 1;
}

.split{
    width: 48%;
}
.split img{
    width: 100%;
}
.spotify-playlist .split{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.spotify-playlist .split img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.spotify-playlist .split .play-icon{
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -100%); 
    font-size: 40px;
    color: white; 
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.spotify-playlist .split:hover img{
    transform: scale(1.1); 
    filter: brightness(1.2);
}
.spotify-playlist .split:hover .play-icon{
    opacity: 1;
}
.wellness{
    width: 48%;
}
.wellness img{
    width: 100%;
}
.spotify-playlist .wellness{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.spotify-playlist .wellness img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.spotify-playlist .wellness .play-icon{
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -100%); 
    font-size: 40px;
    color: white; 
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.spotify-playlist .wellness:hover img{
    transform: scale(1.1); 
    filter: brightness(1.2);
}
.spotify-playlist .wellness:hover .play-icon{
    opacity: 1;
}
.sinisterplaylist{
    width: 48%;
}
.sinisterplaylist img{
    width: 100%;
}
.spotify-playlist .sinisterplaylist{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.spotify-playlist .sinisterplaylist img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.spotify-playlist .sinisterplaylist .play-icon{
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -100%); 
    font-size: 40px;
    color: white; 
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.spotify-playlist .sinisterplaylist:hover img{
    transform: scale(1.1); 
    filter: brightness(1.2);
}
.spotify-playlist .sinisterplaylist:hover .play-icon{
    opacity: 1;
}

.title-tracks{
    color: whitesmoke;
}
.john-container{
    width: 100%;
    display: flex;
    gap: 3%;
}
.radar{
    width: 25%;
}
.card-img{
    width: 30%;
    position: relative;
}
.card-img:hover .overlay{
    opacity: 1;
}
.radar img{
    width: 100%;
}
.daily-mix{
    width: 25%;
}
.daily-mix img{
    width: 100%;
}

.artisti-finali-container{
    width: 100%;
    display: flex;
    gap: 3%;
}
.delrey{
    width: 25%;
}
.delrey img{
    width: 100%;
}
.einaudi{
    width: 25%;
}
.einaudi img{
    width: 100%;
}
.crea-playlist-btn{
    display: none;
}
.color-grey{
    color: grey;
}

@media screen and (min-width: 683px) {
    #sidebar{
        width: 200px;
        height: 100%;
        background-color: black;
    }
    #content{
        width: calc(100% - 100px);
        overflow-y: auto;
    }
    .images-sidebar{
        width: 100%;
    }
    .spotify-logo{
        display: none; 
    }
    .spotify-logogrande{
        display: block;
        width: 70%;
        padding: 10px;
    }
    .home-bar{
        width: 30%;
        color: white;
        vertical-align: middle;
        padding: 10px;
        padding-left: 5px;
    }
    .home {
        display: block;
    }
    .home-bar:hover{
        color: white; 
        transform: scale(1.05); 
    }
    .search-bar{
        width: 30%;
        color: white;
        display: flex;
        padding: 10px;
        padding-left: 5px;
    }
    .search-bar:hover{
        color: white; 
        transform: scale(1.05); 
    }
    .search{
        display: block;
    }
    .libreria-bar{
        width: 30%;
        color: white;
        display: flex;
        padding: 10px;
        padding-left: 5px;
    }
    .libreria-bar:hover{
        color: white; 
        transform: scale(1.05); 
    }
    .libreria{
        display: block;
    }
    .libreria:hover{
        color: white; 
        transform: scale(1.05); 
    }
    .download-img{
        width: 30%
    }
    .profile-img{
        width: 30%;
    }
    .logo-in-basso{
        width: 100%;
        color: white;
        display: flex;
    }
    .installa{
        color: white;
        display: block;
        margin-top: 250px;
        padding-left: 10px;
    }
    .doe{
        display: block;
        color: white;
        margin-top: 30px;
        padding-left: 10px;
    }
    h3{
        display: block;
        margin: 25px;
    }
    .contenuto-della-playlist{
        display: flex;
    }
    .contenuto-della-playlist:hover{
        color: white; 
        transform: scale(1.05); 
    }
    .crea-playlist-btn{
        color: white;
        margin: 10px 5px;
        display: block;
    }
    .testo-playlist{
        color: white;
        padding-left: 5px;
        padding-top: 10px;
    }
    ul{
        display: block;
        color: grey;
        padding-left: 10px;
    }
    ul li:hover{
        color: white; 
        transform: scale(1.05); 
    }
    li{
        line-height: 2;
    }
     
     .download-img{
     width: 30%;
     margin-top: 230px;
     padding: 5px;
     }
     
     .profile-img{
         width: 30%;
     }
     .evidenza, .podcast, .classifiche,.nuoveuscite, .scopri, .generi-mood{
        width: calc(100% / 3);
        margin: 10px 0px;
        padding: 5px 5px;
     }
     .metal{
        width: 35%;
    }
    .metal img{
        width: 100%;
    }
    .stranger-things{
        width: 35%;
    }
    .stranger-things img{
        width: 100%;
    }
    .quiet-place{
        width: 35%;
    }
    .quiet-place img{
    width: 100%;
    }
    
    .split{
        width: 35%;
    }
    .wellness{
        width: 35%;
    }
    .wellness img{
        width: 100%;
    }
    .sinisterplaylist{
        width: 35%;
    }
    h2{
        margin: 10px;
    }
}
@media screen and (min-width: 1000px) {
    .evidenza, .podcast, .classifiche,.nuoveuscite, .scopri, .generi-mood{
        width: calc(100% / 5);
    }
    .metal, .stranger-things, .quiet-place, .split, .wellness, .sinisterplaylist{
        width: calc(100% / 4);
    }
    .spotify-playlist{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
}

@media screen and (min-width: 1300px) {
    .spotify-menu{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .evidenza, .podcast, .classifiche,.nuoveuscite, .scopri, .generi-mood{
        width: calc(60% / 6);
    }
    .spotify-playlist{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .metal, .stranger-things, .quiet-place, .split, .wellness, .sinisterplaylist{
        width: calc(90% / 6);
    }
    .radar, .daily-mix{
        width: 15%;
        margin: 10px;
    }
}