*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    width: 100%;
    background-color: white(170, 169, 169);
}

.footer-container{
    display: flex;
}

main{
    height: calc(100vh - 100px);
    background-color: hsla(0, 0%, 23%, 0.74);
    display: flex;
}

#sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
}

#content{
    width: calc(100% - 50px);
    overflow-y: auto;
}
header{
    height: 100px;
    background-color: rgb(37, 36, 36);
    display: flex;
    justify-content: space-around;
}
.btn-upgrade{
    border: 1px solid white;
    width: 200px;
    color: white;
    margin: 25px 5px;
    padding: 15px 32px;
    border-radius: 40%;
    font-size: 12px;
}

.profile-logo{
   display: flex;
   flex-direction: column;
}

.download-img{
width: 80%;
margin-top: 610px;
padding: 5px;
}

.profile-img{
    width: 80%;
}
.left-footer{
border: 1px solid rgb(20, 20, 20);
width: 33%;
background-color: yellow;
height: 100px;
margin: 5px;
padding: 30px 0px;
display: flex;
}
.sinisterimage img{
width: 100%;
}
.sinistertitle{
    border: 1px solid black;
    margin-right: 20px;
    padding: 0 0px;
}
.loghisinister{
    border: 1px solid black;
    width: 100%;
}
.center-footer{
    border: 1px solid black;
    background-color: rgb(200, 255, 0);
    width: 33%;
}

.right-footer{
    border: 1 px solid black;   
    background-color: purple;
    width: 33%;
}
.big-container{
    border: 1px solid red;
    width: 100%;
}
.spotify-menu{
    border: 1px solid blue;
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.evidenza{
    border: 1px solid black;
    width: 22%;
}
.podcast{
    border: 1px solid black;
    width: 22%;
}
.classifiche{
    border: 1px solid black;
    width: 22%;
}
.generi-mood{
    border: 1px solid black;
    width: 22%;
}
.nuoveuscite{
    border: 1px solid black;
    width: 20%;
    margin-left: 20%;
    margin-top: 15px;
}
.scopri{
    border: 1px solid black;
    width: 30%;
    margin-top: 15px;
}